.pg1 {
  background-color: #ffb900;
  background-image: url(img/vertoScreens3.jpg);
  background-size:auto;
  background-position:50% 50%;
  background-repeat: no-repeat;
  padding: none;
  margin-top: 0px;
  min-height: 280vh;
  position:relative;
}

.logoText {
  display: inline-block;
  text-align: center;
  position: fixed;
  margin: 100px -25px;
}

.downloadButton {
  border-radius: 8px;
  margin: 0;
  display: inline-block;
  text-align: center;
  position: fixed;
  margin: 600px 20px;
  padding: 0 5px;
  width: 160px;
}
